.about-hero {
  position: relative;
  text-align: center;
  margin: 0px 0px 0.5em;
  padding: 15% 0px;
  color: white;
  background: black;
  transition: background 0.8s ease;
}

.about-hero span {
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
}

.about-hero.loaded {
  background: #00000015;
}

/* Image background (initially hidden) */
.about-hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/imgs/bg.jpg);
  background-size: cover;
  background-position: center 40%;
  opacity: 0;
  z-index: -1;
}

/* Loaded state - hide gradient, show image */
.about-hero.loaded::before {
  animation: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.about-hero.loaded::after {
  opacity: 1;
  animation: textFocusIn 0.8s ease-out;
}
