@layer components {
  .markdown-wrapper {
    animation: bottomFadeIn 0.5s ease;
    color: var(--text-secondary);

    h1,
    h2,
    h3,
    h4,
    h5 {
      color: var(--text-primary);
    }
    h6 {
      color: var(--text-gray);
      overflow-wrap: break-word;
    }

    p {
      overflow-wrap: break-word;
    }

    hr {
      background-color: var(--ui-line-gray-3);
      @apply my-4 h-0.5 overflow-hidden border-0;
    }

    /* 媒体 */
    img,
    picture,
    video,
    canvas,
    svg,
    pre {
      @apply mx-auto my-6 block max-w-full;
    }

    img,
    picture {
      @apply rounded-2xl shadow-md;
      box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    }

    blockquote {
      @apply my-6 border-l-2 pl-6;
      border-color: currentColor;
      color: var(--text-gray);
    }

    a {
      @apply text-text-primary relative font-bold transition-shadow duration-300;
      box-shadow: inset 0 -2px 0 var(--accent-hover);
    }

    a:hover {
      /* 你的 hoverBoxShadow 逻辑 */
      box-shadow: inset 0 -12px 0 var(--accent-hover);
    }
    a:hover::before {
      height: 0.4em;
    }

    code {
      color: var(--accent);
      background-color: var(--code-block-bg);
      @apply mx-px rounded px-1.5 py-1 font-mono text-sm;
    }

    pre code {
      color: var(--text-secondary);
      @apply m-0 block overflow-auto rounded-lg p-8 text-sm;
    }

    ul li {
      @apply relative block;
    }
    ul li::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 5px;
      background-color: var(--accent);
      border-radius: 50%;
      /* content: "•"; */
      @apply absolute -left-5;
      color: var(--accent);
    }

    ol {
      list-style: decimal;
      @apply ps-6;
    }
    ol li::marker {
      color: var(--text-gray-2);
      font-weight: 500;
      font-size: 0.9em;
    }

    del {
      @apply opacity-30;
    }

    @media (min-width: 580px) {
      img,
      picture,
      video,
      canvas,
      svg,
      pre {
        display: block;
      }
    }

    /* HLJS */
    .hljs {
      background: var(--code-block-bg);
    }
    .hljs-emphasis {
      font-style: italic;
    }
    .hljs-strong {
      font-weight: bold;
    }
    .hljs-comment,
    .hljs-quote {
      color: #a79b87ba;
      font-style: italic;
    }
    .hljs-variable,
    .hljs-template-variable,
    .hljs-link,
    .hljs-title,
    .hljs-tag,
    .hljs-attr {
      color: var(--accent);
    }
    .hljs-string {
      color: #c68032;
    }
    .hljs-keyword {
      color: #799f67;
    }
  }
}
